<div class="row justify-content-center">
  <div class="col repoCard" *ngFor="let repo of repos">
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
      <div class="card-header"> {{repo.language}} </div>
      <div class="card-body">
        <h6 class="card-text">{{repo.name}}</h6>
        <a href="#" class="btn btn-dark">Check</a>
      </div>
      <div class="card-footer text-muted">
        Last updated : {{repo.updated_at | date: "short"}}
      </div>
    </div>
</div>
</div>


  